@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";

@layer utilities {
  .font-pacifico {
    font-family: 'Pacifico', cursive;
  }
}

*{
  color: white;
}

body{
  background-color: black;
}

#taskList::-webkit-scrollbar{
  display: none;
}